body
{
    background-image: url(../image/halaman_daftar/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table
{
    background-color: goldenrod;
    position: fixed;
    bottom: 50%;
    left: 40%;
    color: white;
}
h2
{
    text-align: center;
}